* {
	margin: 0;
	padding: 0;
	border: 0;
}

button,
button:active,
button:focus {
    outline: none; !important
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
	max-width: 100%;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.header {
	height: 80px;
	background: #FFFFFF;
	border-bottom: 2px solid #CDCDCD;
}

.article-button {
	padding: 6px;

	margin-left: 839px;
	margin-top: 24px;


	background: #315AF2;
	border-radius: 6px;

	width: 166px;
	height: 32px;
	font-family: Circe Rounded;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
}

.article-button:hover {
	background: rgba(49, 90, 242, 0.75);
	cursor: pointer;
}
.title-text button:hover {
	background: rgba(49, 90, 242, 0.75);
	cursor: pointer;
}

.main-img {
	width: 464px;
	height: 422px;
	float: right;
	position: relative;
}

.main-img img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.title {
	width: 46px;
	height: 28px;
	font-family: Circe Rounded;
	font-size: 22px;
	line-height: 26px;
	color: #010101;
	float: left;

	margin-top: 28px;
	margin-left: 20px;
}

.logo {
	margin-top: 23px;
	float: left;
}

.main-title {
	border-bottom: 2px solid #CDCDCD;
	height: 440px;
}

.main-title h3 {
	font-family: Circe Rounded;
	font-size: 16px;
	line-height: 20px;
	color: #E9399C;
	margin-top: 40px;
}

.main-title h1 {
	margin-top: 10px;
	font-family: Museo Cyrl;
	font-style: normal;
	font-weight: bold;
	font-size: 44px;
	line-height: 56px;
	width: 672px;
	height: 112px;
	display: flex;
	align-items: center;
	letter-spacing: -0.416667px;
	color: #315AF2;
}

.title-text {
	float: left;
}

.title-text a {
	text-decoration: none;
}

.title-text button {
	margin-top: 20px;
	background: #315AF2;
	border-radius: 6px;
	display: flex;
	flex-direction: row;
	padding: 10px 18px;
	width: 150px;
	height: 58px;
	font-family: Museo Cyrl;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 38px;
	display: flex;
	align-items: center;
	letter-spacing: -0.416667px;

	color: #FFFFFF;
}

.main-title p {
	font-family: Circe Rounded;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	width: 392px;
	height: 108px;

	display: flex;
	align-items: center;
	letter-spacing: -0.416667px;

	color: #000000;
}

.other-article {
	position: relative;
	width: 33%;
  	max-width: 335px;
	/*width: 335px;*/
	height: 300px;
	float: left;
	background: #FFFFFF;
	border: 2px solid #CDCDCD;
	box-sizing: border-box;
	border-radius: 3px;
}

.other-article a {
	text-decoration: none;
}

.other-articles {
	display: flex;
    justify-content: space-between;
	padding-top: 16px;
	padding-bottom: 16px;
}


.other-titles h2 {
	width: 231px;
	height: 38px;
	margin-top: 60px;
	margin-bottom: 32px;

	font-family: Museo Cyrl;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 38px;
	display: flex;
	align-items: center;
	letter-spacing: -0.416667px;

	color: #315AF2;
}

.other-article-date {
	margin-top: 20px;
	margin-left: 20px;
	height: 20px;
	font-family: Circe Rounded;
	font-size: 11px;
	line-height: 20px;
	display: flex;
	align-items: center;
	letter-spacing: -0.416667px;
	color: #979797;
	z-index: 100;
	text-decoration: none;
}

.other-article-date p {
	height: 20px;
	z-index: 100;

}

.other-article-img {
	position: absolute;
	width: 217px;
	height: 112px;
	left: 62px;
	top: 20px;
	background-size: cover;
	overflow: hidden;
}

.other-article-img img {
	width: 100%;
}

.other-article-title {
	position: absolute;
	width: 248px;
	height: 87px;
	left: 43px;
	top: 167px;

	font-family: Circe Rounded;
	font-size: 24px;
	line-height: 29px;


	align-items: center;
	text-align: center;
	letter-spacing: -0.416667px;

	color: #315AF2;
}
.other-article-title:hover {
	color: rgba(49, 90, 242, 0.75);
	cursor: pointer;
}


.article-container {
	background: #E5E5E5;
	padding-bottom: 150px;
}

.main-article {
	margin: 0 auto;
	width: 607px;
}

.main-article img {
	border-radius: 12px;
	border: 2px solid #34888D;
	width: 607px;
	height: 320px;
	object-fit: cover;
	object-position: 0 0;
}

.main-article h1 {
	width: 400px;
	height: 123px;
	padding-top: 60px;
	padding-bottom: 24px;
	font-family: Museo Cyrl;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 41px;

	letter-spacing: -0.416667px;
	color: #315AF2;
}

.main-article h2 {
	font-family: Circe Rounded;
	font-size: 24px;
	line-height: 28px;
	padding-top: 24px;

	display: flex;
	align-items: center;
	letter-spacing: -0.416667px;

	color: #404040;
}

.main-article p {
	padding-top: 24px;
	font-family: Circe Rounded;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 22px;

	color: #404040;

}

.main-article h3 {
	font-family: Circe Rounded;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 128%;

	color: #404040;
}

.line {
	width: 180px;
	height: 2px;
	left: 213.5px;
	top: 1061px;
	margin: 0 auto;
	background: #404040;
	margin-top: 46px;
	margin-bottom: 46px;
}

.quotes {
	padding-top: 44px;
}

.blockquote-8 {
    position: relative;
    padding: 16px 24px;
    margin: 16px 46px;

    text-align: center;
}
.blockquote-8:before,
.blockquote-8:after {
    position: absolute;
    color: black;
    font-size: 100px;
    font-family: Circe Rounded;
    line-height: 100px;
}
.blockquote-8:before {
    content: '“';
    left: -30px;
    top: -10px;
}
.blockquote-8:after {
    content: '”';
    right: -30px;
    bottom: -10px;
}
.blockquote-8 p {
	font-size: 24px;
}

.article-form h1 {
	font-family: Museo Cyrl;
	font-size: 45px;
	line-height: 52px;
	letter-spacing: -0.416667px;
	margin-top: 59px;
	margin-bottom: 44px;

	color: #315AF2;
}

.upload-img {
	position: relative;
	margin-top: 37px;
	width: 298px;
	float: right;
	background: #FFFFFF;
	border: 2px solid #CDCDCD;
	box-sizing: border-box;
	border-radius: 3px;
}

.upload-img button{
	cursor: pointer;
}

.upload-img h2 {
	font-family: Circe Rounded;
	font-size: 24px;
	line-height: 31px;
	font-weight: normal;
	text-align: center;
	margin: 21px 17px;
	color: #315AF2;
}

input[type="file" i] {
	opacity: 0;
	border: 1px solid #cccccc;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	background: #ffffff !important;
	outline: none;
	height: 24px;
	width: 120px;
	color: #cccccc;
	font-family: Museo Cyrl;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	cursor: pointer;
}

input[type=file],
input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}

#id_title {
	width: 863px;
	height: 48px;

	background: #FFFFFF;
	border: 2px solid #CDCDCD;
	border-radius: 3px;
	font-family: Circe Rounded;
	font-size: 24px;
	line-height: 52px;
	letter-spacing: -0.416667px;
	padding-left: 19px;
	color: #C4C4C4;
}

#id_title:focus {
	color: #315AF2;
}

#id_title:active {
	color: #315AF2;
}

#id_article {
	float: left;
}

.submit-article {
	width: 159px;
	height: 48px;
	margin-left: 14px;
	background: #E9399C;
	border-radius: 3px;
	font-family: Museo Cyrl;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;

	color: #FFFFFF;
}

.submit-article:hover {
	background: rgba(49, 90, 242, 0.75);
	cursor: pointer;
}

.tox-tinymce {
	margin-top: 37px;
	width: 884px;
	background: #FFFFFF;
	float: left;
}

#id_img {
	width: 100%;
	height: 100%;
	position: absolute;
    left: 0;
    top: 0;
	background: #315AF2;
	border-radius: 3px;
	z-index: 2;
	cursor: pointer;
}

#id_img:hover {
	cursor: pointer;
}

#img-button {
	width: 155px;
	height: 50px;
	position: absolute;
	left: 68px;
	top: 65px;
	background: #315AF2;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
}

#img-button:hover {
	background: rgba(49, 90, 242, 0.75);
	cursor: pointer;
}

#img-button p {
	font-family: Museo Cyrl;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	cursor: pointer;
}

#img-button input:hover {

}

#frame {
	width: 294px;
	height: 260px;
	margin-top: 70px;
    margin-bottom: -5px;
}